@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?y91lyn');
    src: url('../fonts/icomoon.eot?y91lyn#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?y91lyn') format('truetype'), url('../fonts/icomoon.woff?y91lyn') format('woff'), url('../fonts/icomoon.svg?y91lyn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "ProximaNova";
    src: url(../fonts/ProximaNova-Regular.woff2) format("woff2"), url(../fonts/ProximaNova-Regular.woff) format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "ProximaNova";
    src: url(../fonts/ProximaNova-Bold.woff2) format("woff2"), url(../fonts/ProximaNova-Bold.woff) format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "ProximaNova";
    src: url(../fonts/ProximaNova-Extrabld.woff2) format("woff2"), url(../fonts/ProximaNova-Extrabld.woff) format("woff");
    font-weight: 800;
}

@font-face {
    font-family: "ProximaNova";
    src: url(../fonts/ProximaNova-Black.woff2) format("woff2"), url(../fonts/ProximaNova-Black.woff) format("woff");
    font-weight: 900;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
    content: "\e942";
}

.icon-envelop:before {
    content: "\e945";
}

.icon-clock:before {
    content: "\e94e";
}

.icon-heart:before {
    content: "\e9da";
}

.icon-cross:before {
    content: "\ea0f";
}

.icon-loop2:before {
    content: "\ea2e";
}