.border { border: 1px solid #000;}
.none  {display: none; }







h1
{
    display: block;
    font-size: 27px;
    position: relative;
    text-align: left;
    padding:0;
    margin:0px 0px 0px 0px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    color: #333;
    padding:0px 0;
    font-family: 'PT Sans Narrow', sans-serif;
}
h1 > small
{
    display: block;
    color:#6b7b88;
    line-height: 10px;
    text-transform: uppercase;
    font-size:13px;
    font-family: 'PT Sans', sans-serif;
}
h1 > span { display: block; text-transform: uppercase; }
h1:before {
    border-top: 1px solid #FF6400;
    width:50px;
bottom:-8px; left:0; content: '';
position: absolute;
height: 1px;
}
h2
{
    display: inline-block;
    font-size: 20px;
    position: relative;
    text-align: center;
    line-height: 30px;
    font-weight: 300;
    color: #333;
     font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;


    //text-transform: uppercase;
    margin:0 0  25px 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}



h3
{
    display: block;
    font-size: 22px;
    position: relative;
    text-align:left;
    //text-transform: uppercase;
    color: #737373;
    font-weight: 300;
    margin:0px 0px 0px 0px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
h4
{
  color:#f58168;
}
a.btn
{
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    outline: none;
    text-decoration:none; 
     text-align:center; 
     padding:12px 31px; 
     border:solid 1px #ff6600; 
     -webkit-border-radius:5px;
     -moz-border-radius:5px; 
     border-radius: 5px; 
     text-transform: uppercase;
     font-family: 'PT Sans Narrow', sans-serif;

     font-weight:bold; 
     color:#ffffff; 
     background-color:#ff6600; 
     background-image: -moz-linear-gradient(top, #ff6600 0%, #ce5200 100%); 
     background-image: -webkit-linear-gradient(top, #ff6600 0%, #ce5200 100%); 
     background-image: -o-linear-gradient(top, #ff6600 0%, #ce5200 100%); 
     background-image: -ms-linear-gradient(top, #ff6600 0% ,#ce5200 100%); 
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce5200', endColorstr='#ce5200',GradientType=0 ); 
     background-image: linear-gradient(top, #ff6600 0% ,#ce5200 100%);   
     -webkit-box-shadow:0px 2px 7px #bababa, inset 0px 0px 2px #ffffff; 
     -moz-box-shadow: 0px 2px 7px #bababa,  inset 0px 0px 2px #ffffff;  
     box-shadow:0px 2px 7px #bababa, inset 0px 0px 2px #ffffff;

}
a.btn:hover { color:#fff; background:#ff6600; }



input[type=text], input[type=password]
{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    width:100%;
    height: 40px;
    outline: none;
    border: none;
    padding: 5px 15px 5px 15px;
    box-shadow:inset 0px 5px 10px rgba(0,0,0,0.05);
    border:3px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    color:#7f7f7f;
    margin-top:10px;
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}
textarea
{
   
    border: none;
    resize:none;


    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    width:100%;
    height: 100px;
    outline: none;
    border: none;
    padding: 5px 15px 5px 15px;
    box-shadow:inset 0px 5px 10px rgba(0,0,0,0.05);
    border:3px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    color:#7f7f7f;
    margin-top:10px;
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;


}
textarea:focus,input[type=text]:focus,input[type=password]:focus
{
    -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -ms-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out;
}

input[type=submit]
{
     
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    outline: none;
    text-decoration:none; 
     text-align:center; 
     padding:12px 31px; 
     border:solid 1px #ff6600; 
     -webkit-border-radius:5px;
     -moz-border-radius:5px; 
     border-radius: 5px; 
     text-transform: uppercase;
     font-family: 'PT Sans Narrow', sans-serif;

     font-weight:bold; 
     color:#ffffff; 
     background-color:#ff6600; 
     background-image: -moz-linear-gradient(top, #ff6600 0%, #ce5200 100%); 
     background-image: -webkit-linear-gradient(top, #ff6600 0%, #ce5200 100%); 
     background-image: -o-linear-gradient(top, #ff6600 0%, #ce5200 100%); 
     background-image: -ms-linear-gradient(top, #ff6600 0% ,#ce5200 100%); 
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce5200', endColorstr='#ce5200',GradientType=0 ); 
     background-image: linear-gradient(top, #ff6600 0% ,#ce5200 100%);   
     -webkit-box-shadow:0px 2px 7px #bababa, inset 0px 0px 2px #ffffff; 
     -moz-box-shadow: 0px 2px 7px #bababa,  inset 0px 0px 2px #ffffff;  
     box-shadow:0px 2px 7px #bababa, inset 0px 0px 2px #ffffff;


}

input[type=submit]:hover { background: #ff6600;}

select
{
   
   box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    width:100%;
    height: 40px;
    outline: none;
    border: none;
    padding: 5px 15px 5px 15px;
    box-shadow:inset 0px 5px 10px rgba(0,0,0,0.05);
    border:3px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    color:#7f7f7f;
    margin-top:10px;
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}
input::-moz-placeholder
{
  color:rgba(54,64,74,0.66);
}
input::-webkit-input-placeholder {
  color:rgba(54,64,74,0.66);
}
textarea::-moz-placeholder
{
  color:rgba(54,64,74,0.66);
}
textarea::-webkit-input-placeholder {
  color: rgba(54,64,74,0.66);
}
.fields input::-moz-placeholder
{
  color:rgba(255,255,255,0.66);
}
.fields input::-webkit-input-placeholder {
  color:rgba(255,255,255,0.66);
}

.container { width:1000px; }
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2-5 {
    width: 20%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }




