.about p {
    margin: 20px;
}

.about ul li {
    margin: 10px 0 10px 60px;
}

.reviews {
    border:1px solid rgba(57, 50, 61, 1);
    margin-bottom:30px;
    padding:10px;
}

.reviews div {
    display: inline-block;
    vertical-align: top;
}

.reviews .comment {
    width: 75%;
}

.reviews .image {
    margin-right: 30px;
    width: 200px;
}