@import url(reset.css);

/* font-family: "CaviarDreamsRegular"; */
@font-face {
    font-family: "CaviarDreamsRegular";
    src: url("/fonts/CaviarDreamsRegular/CaviarDreamsRegular.eot");
    src: url("/fonts/CaviarDreamsRegular/CaviarDreamsRegular.eot?#iefix")format("embedded-opentype"),
    url("/fonts/CaviarDreamsRegular/CaviarDreamsRegular.woff") format("woff"),
    url("/fonts/CaviarDreamsRegular/CaviarDreamsRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "CaviarDreamsBold"; */
@font-face {
    font-family: "CaviarDreamsBold";
    src: url("/fonts/CaviarDreamsBold/CaviarDreamsBold.eot");
    src: url("/fonts/CaviarDreamsBold/CaviarDreamsBold.eot?#iefix")format("embedded-opentype"),
    url("/fonts/CaviarDreamsBold/CaviarDreamsBold.woff") format("woff"),
    url("/fonts/CaviarDreamsBold/CaviarDreamsBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "CaviarDreamsItalic"; */
@font-face {
    font-family: "CaviarDreamsItalic";
    src: url("/fonts/CaviarDreamsItalic/CaviarDreamsItalic.eot");
    src: url("/fonts/CaviarDreamsItalic/CaviarDreamsItalic.eot?#iefix")format("embedded-opentype"),
    url("/fonts/CaviarDreamsItalic/CaviarDreamsItalic.woff") format("woff"),
    url("/fonts/CaviarDreamsItalic/CaviarDreamsItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "CaviarDreamsBoldItalic"; */
@font-face {
    font-family: "CaviarDreamsBoldItalic";
    src: url("/fonts/CaviarDreamsBoldItalic/CaviarDreamsBoldItalic.eot");
    src: url("/fonts/CaviarDreamsBoldItalic/CaviarDreamsBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("/fonts/CaviarDreamsBoldItalic/CaviarDreamsBoldItalic.woff") format("woff"),
    url("/fonts/CaviarDreamsBoldItalic/CaviarDreamsBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details,  
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {margin: 0 auto;padding: 0;border: 0; font-size: 100%;}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
.clearfix:before, .clearfix:after {
	content: '';
	display: table;
}
.clearfix:after, .clear {
	clear: both;
}


* {
margin: 0 auto;
padding: 0;
font: 15px/1.5 "CaviarDreamsRegular", arial, sans-serif;
color: #5d5d5d;
}
html { 
    position:relative; 
    min-height:100%;
}
body {
    min-height: 100%;   
    height: 100%;
    font: 15px/1.5 "CaviarDreamsRegular", arial, sans-serif;
    background: url(/images/113.png);
    position: relative;
}
#header {
    height: 100%;
    position: relative;
}
#content {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}
#footer {
    height: 280px;
    position: relative;
    width: 100%;
    min-width: 1200px;
    text-align: center;
}
a {
color: #CE0404;
text-decoration: none;
transition: 0.2s ease-in-out;
}
a:hover {
color: #26a5d4;
}

#contact {
    position: fixed;
    right: 1.5%;
    top: 88.5%;
    margin-top:0;
    transition:600ms;
    opacity: 0.4;
    z-index: 110;
}
#contact img {
    width: 60px;
    -webkit-animation: preloader 4.5s infinite linear;
    -moz-animation: preloader 4.5s infinite linear;
    -ms-animation: preloader 4.5s infinite linear;
    -o-animation: preloader 4.5s infinite linear;
    animation: preloader 4.5s infinite linear;

}

@-webkit-keyframes preloader {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}
}
@-moz-keyframes preloader {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}
}
@-o-keyframes preloader {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}
}
@keyframes preloader {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(720deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}
}

#contact:hover {
    margin-top:0px;
    transition:250ms;
    opacity: 1;
    transform: scale(1.1);
}

#gr {
    width: 100%;
    height: 25px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.11));

}
#gr2 {
    width: 100%;
    height: 60px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.08));
    margin-bottom: 0;
    padding-bottom: 0;
    position: absolute;
    bottom: 0;
}

.topline {
    background: rgba(70, 222, 222, 0.88);
    height: 20px;
    width: 100%;
    box-shadow: 0 1px 30px -5px #555;
    -webkit-box-shadow: 0 1px 30px -5px #555;
}
.topline marquee {
    color: #ffffff;
    font-size: 13.5px;
    font-weight: bold;
}

.logo img {
    width: 350px;
    float: left;
    position: absolute;
    top: -28px;
    z-index: 102;
    left: -70px;
}
.head {
    width: 1050px;
    display: table;
    margin-top: 10px;
    position: relative;
}

#img1 img {
    position: absolute;
    top: -60px;
    width: 1000px;
    margin: 0 60px;
}
#img2 img { 
    position: absolute;
    width: 800px;
    top: 266px;
    margin: 0 165px;
    /*border-bottom: 1px solid rgba(186, 186, 186, 0.67);*/
}
#img3 img {
    position: absolute;
    top: 615px;
    width: 800px;
    margin: 0 160px;
    
}
#img4 img {
    position: absolute;
    top: 295px;
    margin: 0 106px;
    width: 900px;
    height: 320px;
    z-index: -1;
}


#top-menu {
    float: right;
    height: 70px;
    }
#menu {
    float: right;
    text-transform: normal;
}
#menu ul li  {
    float: left;
}
#menu a {
    padding: 10px 20px 0px 20px;
    display: block;
    transition: 0.5 all;
    color: rgba(136, 136, 136, 0.7);
    font-weight: bold;
}
#menu a:hover {
    color: #0a0a0a;
}

#menu2 {
    float: right;
    text-transform: uppercase;
    margin-top: -12px;
    margin-bottom: 3px;
}
#menu2 ul li  {
    float: left;
}
#menu2 a {
    background: rgba(9, 9, 9, 0);
    padding: 10px 20px;
    display: block;
    border: 2px solid rgba(46, 145, 183, 0.58); 
    transition: 0.5 all;
    color: #5ecdf7;
    margin-left: 10px;
    -webkit-border-radius: 3px;   
    -moz-border-radius: 3px;   
    -o-border-radius: 3px;   
    border-radius: 3px; 
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    transition: 250ms;
    background-image: -webkit-linear-gradient(bottom, rgba(159, 159, 159, 0.16), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(bottom, rgba(159, 159, 159, 0.16), rgba(255, 255, 255, 0));
    background-image: linear-gradient(to top, rgba(159, 159, 159, 0.16), rgba(255, 255, 255, 0));
}
#menu2 a:hover {
    border: 2px solid #f79038; 
    color: rgba(15, 15, 15, 0.69);
    transform: scale(1.1);
    transition: 150ms;
    background-image: linear-gradient(to left, rgba(159, 159, 159, 0.15), rgba(255, 255, 255, 0));
    border-radius: 5px;
}
#menu2 li:first-child a {
    border-radius: 15px 5px 5px 15px;
    border-left: none;
    border-top: 2px solid #f79038; 
    border-bottom: 2px solid #f79038; 
    border-right: 2px solid #f79038; 
    color: rgba(15, 15, 15, 0.69);
    transition: 150ms;
    width: 70px;
    transform: scale(1.10);
    margin-right: 5px;
    background-image: linear-gradient(to left, rgba(38, 165, 212, 0.15), rgba(255, 255, 255, 0));
    font-size: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: -2px;
}
#menu2 li:last-child a {
    border-radius: 5px 15px 15px 5px;
    border-right: none;
    width: 90px;
    background-image: linear-gradient(to right, rgba(38, 165, 212, 0.15), rgba(255, 255, 255, 0));
}

.textonimg {
    margin: -100px 880px 0 0px;
}
.textonimg a{
    color: #14a4d9;
    opacity: 0.8;
    font-size: 50px;
    text-shadow: 2px 2px rgba(64, 64, 64, 0.17);
}
#textonimg  {
    margin-top: -60px;
    margin-left: 700px;
    font-size: 30px;
    font-weight: bold;
}
#textonimg:hover {
    color: #e6f8ff;
    text-shadow: 10px 10px 50px #000000;


}

.top-image {
    background: url(/images/0.png) no-repeat;
    width: 1148px;
    height: 478px;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
}

#plans {
    width: 350px;
    background: rgba(9, 9, 9, 0.5);
    text-transform: uppercase;
    font-size: 15px;
    float: left;
    margin-top: 395px;
    margin-left: 750px;
    border: 1px solid rgb(0, 255, 255);
    border-radius: 7px;
    transition: 500ms;
    position: absolute;
    z-index: 80;
}
#plans:hover {
    padding-left: 20px;
    transition: 500ms;
}
#plans p {
    margin: 15px 15px;
    color: rgb(255, 255, 255);
}
#plans a {
    float: right;
    color: #33E8E8;
    font-size: 18px;
    margin-left: 70px;
    margin-top: -2px;
    
}
#plans a:hover {
color: #FFFFFF;
}




.cont {
    width: 1100px;
}
#about-us {
    width: 1060px;
    text-align: center;
    height: 300px;
}
#about-us img {
    margin-left: 40px;
}

.legend {
    float: left;
}
.legend h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: "CaviarDreamsRegular", arial, sans-serif;
    color: #26a5d4;
    margin-left: 60px;
    margin-top: 0px;
    text-shadow: 2px 2px rgba(64, 64, 64, 0.17);}
.legend p {
    width: 650px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 80px;
    text-shadow: 2px 2px rgba(64, 64, 64, 0.13);
}
.legend img {
    margin: 25px 0 0 50px;
    height: 215px;
}


#plan-box {
    width: 100%;
    height: 310px;
    padding-bottom: 10px;
    text-align: center;
}
#inv{
    font-size: 30px;
    font-weight: bold;
    font-family: "CaviarDreamsRegular", arial, sans-serif;
    text-align: center;
    color: #26a5d4;
    text-shadow: 2px 2px rgba(64, 64, 64, 0.13);
}
.plan {
    width: 160px;
    height: 194px;
    background: rgba(9, 61, 83, 0.89);
    display: block;
    float: left;
    margin-top: 10px;
    margin-right: 13px;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 10px;
    border: 4px double #b7e1ff;
    opacity: 0.9;
    transition: opacity 0.6s ease;
    transition:600ms;
    position: relative;
}
.plan:hover {
    opacity: 1;
    background: rgba(7, 56, 77, 0.89);
    transition: 250ms;
    transform: scale(1.05);
}

.plan img {
    position: absolute;
    top: -12px;
    right: -13px;
    width: 90px;
    opacity: 1;
}

.pcont {
    text-align: center;
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0px 7px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.45);
}
.bigtxt {
    font-size: 40px;
    letter-spacing: -1px;
    color: #fff;
    height: 50px;
    line-height: 54px;
    display: block;
    text-shadow: 0px 3px 20px #bdedff;
}
.smalltxt {
    font-size: 15px;
    color: #cecece;
    display: block;
    text-transform: uppercase;
    height: 30px;
    text-shadow: 1px 1px 1p #309fff;
}
.plan ul li {
    color: #74befd;
    margin: 15px;
    font-size: 15px;
    line-height: normal;
    text-align: left;
}
.plan ul li p {
    float: right;
    color: #fff;
    text-shadow: 0px 3px 20px #bdedff;
}

#clear {
    clear: both;
    height: 2px;
}
#activator {
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 2px 2px rgba(64, 64, 64, 0.13);
    opacity: 0.45;
    color: #1a5364;
    transition:500ms;
}
#activator:hover {
    opacity: 1;
    border-radius: 10px;
    color: rgb(255, 20, 0);
    transition: 300ms;
}

#graf {
    width: 820px;
    height: 360px;
    margin-bottom: 35px;
    margin-top: 35px;
    border: 2px solid #26a5d4;
    border-radius: 20px;
    padding-left: 20px;
        background-image: linear-gradient(to bottom, rgba(38, 165, 212, 0.15), rgba(255, 255, 255, 0));
    opacity: 0.8;
}
#graf h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: "CaviarDreamsRegular", arial, sans-serif;
    color: #1b87af;
    margin-left: 60px;
    text-shadow: 2px 2px rgba(64, 64, 64, 0.22);  
    opacity: 1;
}

.panel {
    width: 200px;
    border: #ccc solid 1px;
}
.panel > .title {
    cursor: pointer;
    background: #eee;
}
.panel > .inner {
    border-top: #ccc solid 1px;
}

#news {
    width: 1060px;
    text-align: center;
    height: 230px;
    margin-bottom: 10px;
}
#news img {
    transition:500ms;
}
#news img:hover {
    transition:1s;
    transform: scale(1.05);
}
.news-box {
    float: left;
    margin-top: 30px;     
}
.news-box h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: "CaviarDreamsRegular", arial, sans-serif;
    color: #26a5d4;
    margin-left: 60px;
    text-shadow: 2px 2px rgba(64, 64, 64, 0.22);
}
.news-box p {
    width: 600px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 30px;
    text-shadow: 2px 2px rgba(64, 64, 64, 0.13);
}
.news-box img {
    margin: 50px 0 0 90px;
    height: 230px;
}
.news-box h3 {
    font-size: 18px;
    font-family: "CaviarDreamsRegular", arial, sans-serif;
    color: rgba(239, 120, 18, 0.94);
    margin-left: 50px;
    margin-top: 5px;
    font-weight: bold;
    text-align: left;
    text-shadow: 2px 2px rgba(64, 64, 64, 0.13);
}

/*------------------------------------------*/

#dop {
    width:1100px;
    height: 485px;
    margin-bottom: -10px;
    border-radius: 20px;
    margin-top: 0px;
    padding-right: 16px
}
#dop h1 {
    font-weight: 600;
    font-size: 30px;
    color: #2aa4d1;
    margin-bottom: -10px;
    text-shadow: 2px 2px rgba(64, 64, 64, 0.23);
}
#ref {
    z-index: 1;
}
#ref img{
    margin-left: 375px;
    margin-top: -80px;
    opacity: 0.9;
    transition:500s;
    z-index: 2;
}
#ref img:hover{
    opacity: 1;
    transition:500ms;
}


#lastin {
    width: 320px;
    height: 370px;
    background-image: linear-gradient(to top, rgba(159, 159, 159, 0.15), rgba(255, 255, 255, 0));
    border-radius: 40px;
    overflow: hidden;   
    padding: 10px;
    transition: 500ms; 
    float: left;
    margin-left: 33px;
    margin-top: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
#statist {
    width: 310px;
    height: 335px;
    background-image: linear-gradient(to bottom, rgba(159, 159, 159, 0.15), rgba(255, 255, 255, 0));
    border-radius: 50px;
    overflow: hidden;   
    padding: 10px;
    transition: 500ms; 
    float: left;
    margin-left: 18px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}
#lastout {
    width: 320px;
    height: 370px;
    background-image: linear-gradient(to top, rgba(159, 159, 159, 0.15), rgba(255, 255, 255, 0));
    border-radius: 40px;
    overflow: hidden;   
    padding: 10px;
    transition: 500ms; 
    float: left;
    margin-left: 18px;
    margin-top: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

}
#lastin h1 {
    color: #39ce26;
}
#statist h1{
    color: #26a5d4;
    font-size: 60px;
    margin-top: -5px;
    font-weight: normal;
}
#lastout h1{
    color: #39ce26;
}

.lastin {
    height: 250px;
    margin-top: 10px;
    width: 307px;
}
.lastin td {
    padding: 2px 5px;
    color: rgba(82, 82, 82, 0.7);
    font-size: 18px;
    font-weight: bold;
    margin: 0 50px;
    border-bottom: 0px dotted rgba(0, 0, 0, 0.15);
}
.lastin span {
    font-family: sans-serif;
    color: rgb(51, 177, 60);
}

.lastout {
    height: 250px;
    margin-top: 10px;
    width: 307px
}
.lastout td {
    padding: 2px 5px;
    font-size: 18px;
    font-weight: bold;
    margin: 0 50px;
    color: rgba(82, 82, 82, 0.7);
    border-bottom: 0px dotted rgba(0, 0, 0, 0.15);
}
.lastout span {
    font-family: sans-serif;
    color: rgb(51, 177, 60);
}
#name {
    color: rgba(64, 64, 64, 0.79);
    font-size: 22px;
    text-shadow: 1px 2px rgba(64, 64, 64, 0.18);
}



.stat {
    height: 160px;
    margin-top: 15px;
    width: 300px;
}
.stat td {
    padding: 4px 2px;
    color: #984600;
    line-height: 37px;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 0px dotted rgba(0, 0, 0, 0.15);
}
#stat-info {
    color: #499ee6;
    text-align: right;
}

#calc {
    width: 300px;
    border-radius: 20px;
    overflow: hidden;   
    padding: 0px 10px 10px 10px;
    transition: 500ms; 
    float: left;
    transform: scale(0.9);
}
#calc h1{
    font-weight: 600;
    font-size: 30px;
    color: #2aa4d1;
    text-shadow: 2px 2px rgba(64, 64, 64, 0.23);
}
#calc h2 {
    font-weight: 600;
    font-size: 18px;
    color: rgba(247, 127, 25, 0.94);
}
#calc h3 {
    font-weight: bold;
    font-size: 19px;
    color: rgba(38, 165, 212, 0.97);
}
#cham {
    width:300px;
    height:100px;
    display:block;
    margin: 0px auto;
}
#choose {
    width: 300px;
    height: 90px;
}
.choosebl {
    width: 250px;
    font-size: 20px;
    font-weight: bold;
    color: #0d9d3a;
    border-radius: 10px;
    border: 5px solid rgba(59, 178, 222, 0.45);
    cursor: pointer;
}
#amout {
    width: 300px;
    height: 50px;
    margin-top: 10px;
}
#deposit {
    width: 180px;
    height: 19px;
    font-size: 20px;
    font-weight: bold;
    color: #0d9d3a;
    border-radius: 10px;
    border: 5px solid rgba(59, 178, 222, 0.45);
}
#result {
    width: 280px; 
    height: 110px; 
    display: block; 
    margin-top: 90px;
}
#result1 {
    width: 137px;
    height: 50px;
    float: left;
}
#result2 {
    width: 137px;
    height: 50px;
    float: right;
}
#result span {
    font-size: 25px;
    color: rgba(142, 142, 142, 0.52);
    font-weight: bold;
}
#profit b {
    width: 137px;
    height: 70px;
    font-size: 25px;
    color: rgba(83, 83, 83, 0.79);
    font-weight: bold;
    text-shadow: 2px 2px rgba(64, 64, 64, 0.23);

    
}
#btn {
    margin: -5px auto 5px;
}
#btn a {
    width: 300px;
    font-size: 20px;
    color: #ffffff;
    background: rgb(247, 127, 25);
    cursor: pointer;
    border: 5px solid #cccccc;
    border-radius: 10px;
    padding: 13px 30px;
}
#btn a:hover {
    color: #f4770d;
    background: #ffffff;
    font-weight: bold;
    border: 5px solid #69ccf0;
}

#overlay{
	background: rgba(0, 0, 0, 0.67);
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:100;
}
#boxin{
	position:fixed;
    width: 320px;
    height: 400px;
	top: -550px;
	left:38%;
	right:38%;
	background-color:rgba(255, 255, 255, 0.96);
	color:#7F7F7F;
	border: 10px solid #18a5d9;
	-moz-border-radius: 20px;
	-webkit-border-radius:20px;
	-khtml-border-radius:20px;
	-moz-box-shadow: 0 1px 5px #333;
	-webkit-box-shadow: 0 1px 5px #333;
	z-index:101;
    padding-top: -60px;
}
a#boxclose{
	float:right;
	width:53px;
	height:48px;
	background:transparent url(/Images/cancel.png) repeat top left;
	margin-top:-45px;
	margin-right:-45px;
	cursor:pointer;
}


/*------------------------------------------*/

#plata {
    width: 55%;
    height: 150px;
    padding-top: 10px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    border: 8px solid rgba(195, 195, 195, 0.83);;
    border-radius: 15px;
}
.pm {
    background: url(/images/pm.png);
    background-repeat: no-repeat;
    width: 135px;
    height: 29px;
    margin: 17px 0 0 0;
    
}
.pr {
    background: url(/images/pr.png);
    background-repeat: no-repeat;
    width: 113px;
    height: 30px;
    margin: 15px 0 0 40px;
    
}
.bt {
    background: url(/images/bt.png);
    width: 153px;
    background-repeat: no-repeat;
    height: 33px;
    margin: 15px 0 0 40px;
    
}
.op {
    background: url(/images/op.png);
    width: 125px;
    height: 32px;
    margin: 15px 0 0 40px;
    background-repeat: no-repeat;
}
.ss{
    background: url(/images/ss1.png);
    width: 260px;
    height: 80px;
    background-repeat: no-repeat;
    margin-top: 5px;
}
.gg {
    background: url(/images/gg23.png);
    width: 260px;
    height: 60px;
    background-repeat: no-repeat; 
}
.box {
    display: inline-block;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.niz {
    display: inline-block;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.2s ease-in-out; 
}

#op:hover {
    opacity: 0.5;
}

.box:hover {
    opacity:1;
}
.niz:hover {
    opacity:1;
}

.ftr {
    width: 100%;
    padding: 10px 0 5 0;
    text-align: center;
    text-shadow: 2px 2px rgba(64, 64, 64, 0.13);
    margin-top: 22px;
}
.ft-cnt {
    margin-bottom: 15px;
}
.ft-cnt ul li {
    display: inline;
    padding: 0 10px 0 14px;    
    border-left: 2px dotted #c3c3c3;
}
.ft-cnt li:first-child {
    display: inline;
    padding-left: 10px;
    border-left: 0 solid #5d5d5d;
}
.ft-cnt a {
    font-size: 16px;
    color: #646464;
    font-weight: bold;
    text-transform: capitalize;
}
.ft-cnt a:hover {
    color: #1caade;
}


#rules {
    width: 1000px;
    margin-bottom: 20px;
    
}
#rules h1 {
    font-size: 30px;
    font-weight: bold;
    color: #26a5d4;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
#rules p {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}
#rules h2 {
    font-size: 25px;
    font-weight: bold;
    color: #f57b13;
    margin-top: 25px;
    margin-bottom: 5px;
    text-indent: 25px;
}
#rules h3  {
    text-align: center;
    font-size: 18px;
    font-weight: bold; 
}
#rules h4  {
    font-size: 18px;
    font-weight: bold;
    color: #1e7fa3;
    margin-bottom: 25px;
    text-align: center;
}

#myfaq {
    margin-bottom: 20px;
    text-align: center;
}
#myfaq h1 {
    font-size: 30px;
    font-weight: bold;
    color: #f57b13;
    margin-top: 30px;
    margin-bottom: -10px;
    text-align: center;
}
#myfaq p {
    font-size: 16px;
    font-weight: bold;
}
#myfaq h2 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 5px;
    color: #26a5d4;
}


#adv {
    margin-bottom: 20px;
}
#adv h1 {
    font-size: 30px;
    font-weight: bold;
    color: #f57b13;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;    
}

#support h1 {
    font-size: 30px;
    font-weight: bold;
    color: #f57b13;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center; 
}

hr {
    height: 0px;
    opacity: 0;
}
table th {
    background: #26a5d4;
    font-size: 15px;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 10px;
}
table th small {
    color: #FFFFFF;
}
table caption {
    margin: 1px;
    padding: 5px;
}
th.header {
    background: #97CAA6;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 10px;
}
th.header small {
    color: #FFFFFF;
}
th.header a {
    font-size: 12px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: default;
}
table .list td {
    border: 1px solid #425757;
    color: #425757;
    padding: 10px 4px;
    font-size: 12px;
    line-height: 10px;
    vertical-align: middle;
    background: #cccccc;
    text-align: center;
    height: 40px;
}

.list {
    width: 98%;
    margin-bottom: 8px;
}
.list td {
    color: #425757;
    font-size: 12px;
    text-align: center;
    border-bottom: solid 1px #e5e7e5;
    border-right: solid 1px #e5e7e5;
    background: #f7f7f7;
    height: 40px;
}
.list td a {
font-size: 10px;
text-transform: uppercase
}
.odd {
font-size: 13px;
line-height: 15px;
background: rgba(216, 237, 215, 0.57);
text-align: center;
height: 40px;
}
.even {
font-size: 13px;
line-height: 15px;
background: rgba(199, 231, 231, 0.7);
text-align: center;
height: 40px;
}
.odd small {
font-size: 11px;
line-height: 15px;
}
.even small {
font-size: 11px;
line-height: 15px;
}
.paginator {
margin-top: 15px;
margin-bottom: 15px;
margin: 0 auto;
}
.pgbutton {
background: rgba(2, 134, 0, 0.39);
padding: 4px 6px;
margin-right: 2px;
text-decoration: none;
color: rgba(5, 92, 6, 0.98);
font-size: 11px;
}
.pgbutton:hover {
background: #65B37C;
padding: 4px 6px;
margin-right: 2px;
color: #ffffff;
text-decoration: none;
}
.pgactive {
background: #65B37C;
padding: 4px 6px;
margin-right: 2px;
color: #ffffff;
text-decoration: none;
font-size: 11px;
}
fieldset {
margin: 0 auto;
padding: 0;
border: 0;
font-size: 12px;
width: 100%;
}

.button-green,
.button-red,
.button-blue,
.button-gray {
font-size: 13px;
text-transform: uppercase;
color: #fff;
background: #515756;
border-radius: 10px;
padding: 10px 35px;
border: none;
cursor: pointer;
display: block;
}
.button-red:hover,
.button-green:hover,
.button-blue:hover,
.button-gray:hover {
background: #88B489;
color: #ffffff;
}

.FormatTable, .formatTable {
border-spacing: 1px;
width: 98%;
}
.FormatTable td, .formatTable td {
font-weight: normal;
padding: 10px;
border-bottom: solid 1px #e5e7e5;
border-right: solid 1px #e5e7e5;
background: #f7f7f7;
}
table.formatTable h2 {
color: #FFFFFF;
text-align: left;
font-weight: 100;
font-size: 13px;
padding: 10px 30px;
background: #6AB696;
text-transform: uppercase;
border: 1px solid rgba(63, 115, 139, 0.62);
border-radius: 6px 6px 0px 0px;
}
table.formatTable small {
font-weight: 100;
color: #474747;
font-family: calibri;
font-size: 13px;
}
input[type="checkbox"], 
input[type="radio"] {
cursor: pointer;
height: 15px;
width: 14px;
vertical-align: middle;
margin-right: 4px;
}
.support input[type="text"], 
input[type="password"],
select {
    width: 260px;
}
input[type="text"], 
input[type="password"] {
    border-radius: 8px;
    border: none;
    background: rgba(0, 0, 0, 0.08);
    width: 220px;
    font-size: 12px;
    color: #00892B;
    text-align: center;
    padding: 10px;
    margin: 8px 4px;
}
select {
border-radius: 0px;
border: none;
background: rgba(0, 0, 0, 0.08);
width: 220px;
font-size: 12px;
color: #00892B;
text-align: left;
padding: 8px 10px;
margin: 8px 4px;
}
textarea {
border-radius: 0px;
border: none;
background: rgba(0, 0, 0, 0.08);
font-size: 12px;
color: #00892B;
text-align: center;
padding: 8px 10px;
margin: 8px 4px;
}

/*--------------------------------------------*/

