*,
*::before,
*::after {
  box-sizing: border-box;
}


ul,
ol {
  padding: 0;
}


body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

ul,
ol {
  list-style: none;
}


img {
  max-width: 100%;
  display: block;
}


input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}



body {
  background: #e4e4e5;
  font-family: "Arial";
}



.container {
  margin: 0 8%;
}



.header {
  padding-top: 100px;

  .header-content {
    display: flex;
    justify-content: space-between;

    .header__logo {
      height: 98px;
      width: 8%;
      background: #e3000f;
    }
  }
}

.header-content__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 1060px/1170px*100%;

  .header__title {
    font-size: 24px;
    color: rgb(227, 0, 15);
    line-height: 0.917;
    text-shadow: 1px 1.732px 0px rgba(0, 0, 0, 0.06);
  }
}


.header-nav__menu {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-radius: 5px;
  background-image: -moz-linear-gradient(90deg, rgb(203, 203, 203) 0%, rgb(231, 231, 231) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(203, 203, 203) 0%, rgb(231, 231, 231) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(203, 203, 203) 0%, rgb(231, 231, 231) 100%);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.004);
  padding: 20px 0;

  .header-nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    position: relative;


    &:not(:last-child) {
      border-right-width: 1px;
      border-right-style: solid;
      border-image: linear-gradient(to bottom,
          rgba(226, 226, 226, 1),
          rgb(77, 77, 77) 50%,
          rgba(226, 226, 226, 1)) 1 100%;

    }


  }



  .header-nav__link {
    font-size: 1em;
    color: rgb(77, 77, 77);
    line-height: 1.692;
    display: block;

    // padding: 0 35px;

  }



  .header-submenu {
    display: none;
    position: absolute;
    z-index: 700;
    bottom: -240px;
    left: 0;
    width: 320px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-radius: 3px;
    background-color: #f2f2f2;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;

    .header-submenu__item {
      transition: .3s;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;

      padding: 10px 20px;

      &:hover {
        background: #fff;
      }

      &:hover>.header-submenu__link {
        color: red;
      }

      &:hover .lvl2 {
        display: block;
      }
    }

    .header-submenu__link {
      font-size: 1em;
      line-height: 1.692;
      color: rgb(77, 77, 77);

    }
  }

  .lvl2 {
    display: none;
    position: absolute;
    bottom: -10px;
    left: 310px;
    width: 100%;
    z-index: 800;
    transition: .9s;
    -webkit-transition: .9s;
    -moz-transition: .9s;
    -ms-transition: .9s;
    -o-transition: .9s;
  }

}


.main-content {

  padding-top: 50px;

  .main-left {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .main-left__item {
      width: 48%;
      border-style: solid;
      border-width: 1px;
      border-color: rgb(255, 255, 255);
      border-radius: 5px;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
      height: 368px;
    }

  }





  .sidebar {

    .sidebar-item{
      position: relative;
      .sidebar-item__content{
        padding-top: 30px;
      }
    }
    .sidebar-item__text{
      position: absolute;
      bottom: 5%;
      left:10%;
    }

    .sidebar-content__item{
      display: flex;
      margin-top: 20px;
    }
    .sidebar-item__img{
      width: 100%;
    }
  }
}

.icon-menu{
  display: none;
}

.isVisible{
  display: block !important;
}




