
label {
	font-size: 18px;
	line-height: 34px;
	display: block;
	height: 34px;
	margin: 0px;
	padding: 0px;
}
label.left {
	margin: 4px 0px;
}
label.centered {
	text-align: center;
}
label.small {
	font-size: 14px;
}


input[type="text"],
input[type="password"],
select,
textarea {
	font-family: Roboto, Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
	background: #ffffff;
	display: block;
	height: 34px;
	width: 100%;
	margin: 0px;
	padding: 4px 10px;
	border: 1px solid #d8d8d8;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	-webkit-box-shadow: inset 0px 1px 4px #ebebeb;
	box-shadow: inset 0px 1px 4px #ebebeb;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	color: #101010;
	border: 1px solid #AD9D70;
}

input[type="text"].small,
input[type="password"].small,
select.small,
textarea.small {
	width: 94px;
}
input[type="text"].mid,
input[type="password"].mid,
select.mid,
textarea.mid {
	width: 250px;
}
input[type="text"].big,
input[type="password"].big,
select.big,
textarea.big {
	width: 350px;
}

input[type="submit"],
input[type="button"] {
	font-size: 18px;
	color: #353535;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	background: inherit;
	height: 34px;
	margin: 0px;
	padding: 0px 15px;
	border: 1px solid #30578D;
	transition: background 300ms ease-in-out;
	cursor: pointer;
	border-radius: 10px;
}

input[type="submit"].centered,
input[type="button"].centered {
	display: block;
	margin: 0px auto;
}

input[type="submit"]:hover,
input[type="button"]:hover {
	color: #2c2c2c;
	border: 1px solid #AD9D70;
}

