@media (max-width:1200px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-socials,
    .footer-socials {
        width: 55%;
    }

    .header-logo,
    .footer-logo {
        width: 110px;
    }

    .header-socials a,
    .header-socials__item,
    .footer-socials a,
    .footer-socials__item {
        display: block;
        width: 36px;
    }




    .slider-item {
        max-width: 160px !important;
        height: 210px;
        padding-top: 50px;
        background: black;
        background: linear-gradient(230deg, transparent 50px, black 0);
        border: 4px solid #fff;
        border-top: none;
        border-right: none;
        position: relative;
        -webkit-box-shadow: 0px 0px 22px 1px rgba(255, 255, 255, 0.54);
        box-shadow: 0px 0px 22px 1px rgba(255, 255, 255, 0.54);
        transition: linear 1s;

    }


    .slider-item__img {
        width: 170px;
        height: 100px;
        position: relative;
        z-index: 1000;
        display: block;
        margin-left: 0;
        /* margin-left: -40px; */
        transition: linear 1s;

    }

    .slider-item__text {
        font-size: 1rem;
        transition: linear 1s;
        margin-top: 30px;
    }


    .slider-item__num {
        font-size: 94px;
        top: -60px;
        right: -75px;

    }




    .slick-center {
        /* max-width: 260px !important; */
        margin-left:-100px;
        margin-right:-20px;

    }

    .slick-center .slider-item {
        height: 360px;
        width: 280px !important;
        padding-top: 70px;
    

    }

    .slick-center .slider-item__img {
        width: 310px;
        height: 200px;
        margin-left: -10px;
    }

    .slick-center .slider-item__text {
        margin-top: 30px;
        
    }

    .slick-center .slider-item:before {
        height: 92%;
    }

    .slick-center .slider-item:after {
        width: 90%;
    }


    .slick-slide {
        /* margin: 0 50px; */
        /* margin: 0 90px; */
    }

    .slick-list {
        margin: 0 0px;
        padding-top: 100px !important;
    }

    .header-price__img {
        max-width: 45px;
    }

    .header-price__text {
        font-size: 20px;
    }

    .about-outter {
        width: 95%;
    }

    .about-inner {
        padding: 19px 10px;
        width: 93%;
    }

    .about__title {
        font-size: 23px;
        margin-bottom: 30px;
    }

    .about__text {
        font-size: 20px;
    }



    .feedback {
        background: url('../img/mobile-bg.png') no-repeat center top/cover;
    }

    .feedback-form {
        width: 100%;
    }

    .feedback-title {
        font-size: 24px;
    }

    .form-box {
        width: 100%;
    }

    form {
        width: 90%;
    }

    .input-name,
    .input-number {
        font-size: 20px;
    }

    .input-btn {
        font-size: 20px;

    }

    .features-wrapper {
        background: inherit;
    }

    .features-item {
        width: 50%;
    }

    .features-item__img {
        width: 70%;

        height: 35%;
    }



    .features-title {
        font-size: 24px;
        max-width: 70%;
        background: url(../img/kolesa.png) no-repeat center top/cover;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
        height: 230px;
        margin-bottom: 30px;
    }


    .features-item__text {
        font-size: 16px;
    }

    .footer-bottom {
        font-size: 10px;
    }

}


@media (max-width:640px){

    .slider-item {
        max-width: 140px !important;
        height: 200px;
        padding-top: 50px;

    }


    .slider-item__img {
        width: 130px;
        height: 95px;
        margin-left: 0;
     

    }

    .slider-item__text {
        font-size: 0.8rem;
        margin-top: 30px;
    }





    .slick-center {
        margin-left:-67px;
        

    }

    .slick-center .slider-item {
        height: 290px;
        width: 210px !important;
        padding-top: 100px;
    

    }

    .slick-center .slider-item__img {
        width: 250px;
        height: 120px;
    }

    .slick-center .slider-item__text {
        margin-top: 40px;
        
    }


}

@media (max-width:570px){
    
    .slider-item {
        max-width: 100px !important;
        height: 160px;
        padding-top: 50px;
   
    }


    .slider-item__img {
        width: 100px;
        height: 70px;
    }

    .slider-item__text {
        font-size: 0.6rem;
        margin-top: 10px;
    }

    .slick-slide{
     
    }

    .slick-center {
        margin-right: 30px;
      margin-left: -50px;

    }

    .slick-center .slider-item {
        height: 250px;
        width: 200px !important;
        padding-top: 80px;
    

    }

    .slick-center .slider-item__img {
        width: 240px;
        height: 120px;
        margin-left: -15px;
    }

    .slick-center .slider-item__text {
        margin-top: 20px;
        
    }

    
}


@media (max-width:477px){

    .slider-item {
        max-width: 80px !important;
        height: 130px;
        padding-top: 40px;
      

    }


    .slider-item__img {
        width: 90px;
        height: 65px;
        margin-left: -10px;

    }

    .slider-item__text {
        font-size: 0.5rem;
        margin-top: 10px;
    }


    .slider-item__num {
        font-size: 64px;
        top: -40px;
        right: -50px;

    }

    .slick-slide{
        margin-left: -10px;
    }
    .slick-center{
        margin-left: -40px;
        margin-right: 40px;
    }

    .slick-center .slider-item {
        height: 225px;
        width: 160px !important;
        padding-top: 80px;
    

    }

    .slick-center .slider-item__img {
        width: 210px;
        height: 90px;
        margin-left: -25px;
    }


}

@media (max-width:370px){
    .slick-slide{
        margin-left: -30px;
       
    }
    .slick-center{
       margin-left: -50px;
    }
} 

