@media screen and (max-width: 1199px) {
  .trTable tr td .bType {
    margin-left: 0; } }

@media screen and (max-width: 991px) {
  .si:nth-child(7) .settings__item,
  .si:nth-child(8) .settings__item,
  .si:nth-child(9) .settings__item {
    border-bottom: 1px solid #414771; }
  .withAm label {
    display: block;
    width: 100%;
    float: none;
    margin-bottom: 15px; }
  .withAm input {
    width: 100%; }
  .withAm, .withButton {
    float: none;
    width: 100%;
    margin-bottom: 15px; }
  .withButton {
    padding-left: 0; }
  .trTable tr td span {
    display: block; }
  .secBlock {
    margin-bottom: 30px; }
  .refBlock .refHeading, .refBlock .refText, .refBlock .refButton {
    width: 100%;
    float: none;
    text-align: center;
    margin-left: 0;
    margin-right: 0; }
  .refBlock .refText {
    margin-bottom: 15px; }
  .footer__down {
    text-align: center; }
  .footer__copy,
  .footer__access {
    margin-bottom: 15px; }
  .user_icon, .user_text {
    float: none;
    margin-bottom: 15px; }
  .welcome,
  .user_time,
  .user__mail,
  .user__lacess {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    float: none;
    text-align: center;
    margin-bottom: 10px; }
  .user_time .user_text .hour, .user_time .user_text .date {
    float: none;
    margin-bottom: 25px;
    margin-right: 0; }
  .cabinet__logo {
    text-align: center;
    margin-bottom: 15px; }
  .header__contactItem {
    top: 0;
    text-align: center;
    margin-bottom: 15px;
    float: none; }
  .welcome .user_icon {
    margin-right: 0; } }

@media screen and (max-width: 767px) {
  .cheader4__item img {
    height: auto; }
  .settingsSec .sec__head input.bType,
  .settingsSec .sec__head a.bType {
    float: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px; }
  .banners-list-item {
    margin-right: 0;
    width: 100%;
    margin-bottom: 15px; }
  .signButton {
    margin-left: 0; }
  .log4 {
    width: 100%; }
  .signupBlock {
    width: 280px; }
  .logRight .captBlock {
    top: 0;
    margin-top: 20px; }
  .logGroup3 input, .logGroup3 .inputLinks {
    float: none;
    margin-bottom: 15px;
    width: 100%; }
  .logGroup3 input {
    margin-left: 0; }
  .captLabel2 {
    float: none; }
  .LoginBlock {
    width: 280px; }
  .logLeft {
    float: none;
    width: 100%; }
  .logRight {
    float: none;
    width: 100%; }
  .withBalance h4, .withBalance .balance_amount {
    float: none;
    text-align: center;
    margin-bottom: 15px;
    margin-right: 0; }
  .withInfo {
    padding-top: 30px; }
  .withBalance {
    float: none;
    top: 0;
    margin-bottom: 15px; }
  .withdwallet__item:last-child {
    margin: 0 auto; }
  .header__menu ul li,
  .header__menu ul li:nth-child(4) {
    background-image: none !important;
    padding: 15px; }
  .WithrdrawalBlock {
    padding: 0; }
  .header__menu ul li a {
    padding-left: 0; }
  .withdratext__left,
  .withdratext__right {
    width: 100%;
    float: none;
    text-align: left;
    margin-bottom: 10px; }
  .withdwallet__item {
    float: none;
    margin-right: 0;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 10px; }
  .with__right {
    float: none;
    margin-bottom: 10px; }
  .withdwallet__item label {
    width: 100%;
    text-align: center; }
  .settingsSec .sec__head {
    margin-bottom: 15px; }
  .settingsSec .sec__head h3 {
    top: 0; }
  .settingsSec .sec__head h3,
  .settingsSec .sec__head .bType {
    float: none;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px; }
  .settingsBlock {
    padding: 0; }
  .settings__item label,
  .settings__item input {
    float: none;
    width: 100%; }
  .traHistory .sec__head h3 {
    top: 0;
    margin-bottom: 15px; }
  .traHistory .sec__head h3,
  .traHistory .sec__head select {
    float: none;
    text-align: center;
    width: 100%; }
  .secRadio__item {
    display: block; }
  .refLeft .ref__item,
  .refRight .ref__item {
    padding: 15px; }
  .refBlock2 {
    margin: 30px 15px 0 15px; }
  .activeDepostsTable tr {
    padding: 15px; }
  .activeDepostsTable tr,
  .activeDepostsTable tr td {
    display: block;
    width: 100%;
    text-align: center; }
  .activeDepostsTable tr td {
    border-right: 0;
    padding: 10px 15px; }
  .activeDepostsTable tr td .bType {
    float: none;
    display: block;
    margin: 0 auto; }
  .FundsInterest .hourlyI, .FundsInterest .dailyI {
    float: none;
    margin-right: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0; }
  .depAmount .depHeading, .depAmount .depInpBlock, .depAmount .depWallets, .depAmount .depDirect, .depAmount .depCurrBal {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px; }
  .depAmount .depHeading {
    top: 0; }
  .refBlock .lmore,
  .refBlock .gbanners {
    width: 230px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-right: 0; }
  .invite .ptext {
    margin-bottom: 0; }
  .partnerInvite {
    padding: 15px; }
  .partnerInvite .partner {
    margin-bottom: 15px; }
  .partnerInvite .ptext {
    margin-bottom: 15px; }
  .partnerInvite .partner, .partnerInvite .invite {
    width: 100%;
    float: none;
    text-align: center; }
  .partner .ptext {
    padding-right: 0; }
  .invite .pIcon {
    margin-right: 0;
    padding-left: 0;
    margin-bottom: 15px; }
  .partnerInvite .pIcon, .partnerInvite .ptext {
    float: none;
    text-align: center;
    width: 100%; }
  .pIcon img {
    margin: 0 auto; }
  .footer__payments img {
    display: block;
    margin-right: 0;
    margin: 0 auto;
    margin-bottom: 15px; }
    .footer__payments img:last-child {
      margin: 0 auto;
      margin-bottom: 15px; }
  .fcItem {
    float: none;
    margin-top: 0; }
  .footer__payments, .footer__contacts {
    float: none;
    width: 100%;
    text-align: center;
    margin-right: 0;
    padding: 0 15px;
    border-right: 0;
    border-left: 0; }
  .cheader4__item,
  .cheader4__item {
    float: none;
    margin-right: 0;
    width: 280px;
    margin: 0 auto;
    margin-bottom: 15px; }
    .cheader4__item:last-child,
    .cheader4__item:last-child {
      margin: 0 auto;
      margin-bottom: 0; }
  .header__menu {
    display: none; }
  .header__menu ul {
    border-top: 0;
    border-bottom: 0;
    width: 250px;
    margin: 0 auto; }
  .header__menu ul li {
    float: none;
    text-align: center;
    display: block; }
  .cabinet__logo a img {
    margin-right: 10px;
    margin-bottom: 15px; }
  .cabinet__logo a .logo__text {
    top: 0; } }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .banners-list-item {
    margin-right: 15px; }
  .withdwallet__item {
    width: 295px; }
  .cabinet__logo a h2 {
    font-family: 'HelveticaNeueCyr-Thin';
    font-size: 20px; }
  .header__menu ul li a {
    font-size: 13px; }
  .cabinet__logo a p {
    font-size: 9px; }
  .header__menu ul li {
    margin: 0 5px; }
  .activeDepostsTable tr td {
    padding: 12px 19px;
    font-size: 12px; }
  .userInfo {
    padding: 20px; }
  .welcome {
    float: left;
    padding: 0 10px;
    margin-left: 0;
    margin-right: 10px; }
  .user_time,
  .user__mail {
    margin-right: 10px; }
  .cheader4__item {
    width: 121px; }
  .footer__payments {
    width: 620px; }
  .footer_pay img {
    margin-bottom: 5px; }
  .partnerInvite .partner, .partnerInvite .invite {
    width: 460px; }
  .refBlock .refText {
    width: 390px; }
  .depAmount .depCurrBal {
    width: 298px; }
  .depAmount .depDirect {
    width: 220px; }
  .depAmount .depInpBlock {
    width: 250px; }
  .FundsInterest .hourlyI {
    width: 445px; }
  .FundsInterest .dailyI {
    width: 440px; }
  .secRadio__item label {
    font-size: 10px; }
  .trTable tr td span {
    display: block; }
  .settings__item label {
    font-size: 12px; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .banners-list-item {
    margin-right: 10px; }
  .signupBlock {
    width: 700px; }
  .signButton {
    margin-left: 100px; }
  .withdwallet__item {
    width: 225px; }
  .withBalance h4 {
    margin-right: 50px; }
  .header__menu ul li {
    margin: 0 35px; }
  .header__menu ul li a {
    font-size: 12px; }
  .activeDepostsTable tr td span {
    padding: 0; }
  .cheader4__item {
    width: 168px;
    margin-bottom: 15px; }
  .cheader4__item2 {
    width: 229px; }
    .cheader4__item2:last-child {
      margin-right: 0; }
  .depAmount .depInpBlock {
    width: 500px;
    margin-bottom: 15px; }
  .cheader4__item:nth-child(4) {
    margin-right: 0; }
  .footer__payments {
    width: 400px; }
  .footer__payments img {
    margin-bottom: 10px; }
  .partner .ptext {
    width: 88%; }
  .partnerInvite .partner, .partnerInvite .invite {
    width: 355px; }
  .FundsInterest .hourlyI {
    width: 335px; }
  .FundsInterest .dailyI {
    width: 330px; } }

@media screen and (min-width: 768px) {
  .header__menu {
    display: block !important; } }
